body{
    max-width: 800px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
.contact_infotmation{
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
main{
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
}
ol li{
    padding: 10px 0px;
}
.contact_label{
    font-weight: 800;
}
.education_label{
    font-weight: 800;
}
.name_company{
    font-style: italic;
}
.english_label{
    font-weight: 800;
    font-style: italic;
}