.tests{
    width: 800px;
    margin: 0 auto; 
}

.ul_footer{
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding-left: 0px;
}
.ul_footer li{
    display: inline-block;
    margin: 0 50px 0 0;
}